
<nav class="navbar navbar-expand-md  navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['login']" *ngIf="!authService.isConnected()" >Login</a>
      <a class="nav-item nav-link" *ngIf="authService.isConnected()" >{{ email }}</a>
      <a class="nav-item nav-link" [routerLink]="['/']" *ngIf="authService.isConnected()" (click)="logout()" >Logout</a>
      <a class="nav-item nav-link text-right" [routerLink]="['']">Home</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
